#header-imc{
    font-weight: bold;
}
a:-webkit-any-link {
    color: initial;
    cursor: initial;
    text-decoration: initial;
    text-decoration-line: initial;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.user {
    font-size: 35px !important;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;

}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4% 0px 4% 0px;

}

#calculator{
    padding: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 35px;
    border: 1px solid #C6C6C6;
    
}

#form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title{
    font-size: 32px;
    position: relative;
}

#title::after{
    position: absolute;
    content: '';
    background-color: #99CA5B;
    width: 5rem;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}
.input-box label{
    font-size: 1.1rem;
    font-weight: 500;
}

.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    border-radius: 22px;
    margin-top: 3px;
    border: 1px solid #C6C6C6;

}

.input-field span,
.input-field i{
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 18px;
    padding: 0 0.5rem;
    font-family: "Montserrat", sans-serif;

}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button{
    appearance: none;
}

.input-field input:focus{
    outline: none;
}

#calculate{
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #99CA5B;
    padding: 0.5rem 0;
    border-radius: 22px;
    cursor: pointer;
}

#result{
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}

#imc{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}

#imc span:last-child{
    font-size: 0.875rem;
}

#description{
    width: 15.5rem;
}

#more-info{
    border-top: 1px solid #ffffff34;
    padding-top: 1.5rem;
}

#more-info a{
    font-size: 16px;
    text-decoration: none;
    transition: color 0.5s;
    cursor: pointer;
    font-weight: bold;
}

#more-info a:hover{
    color: #99CA5B;
}

.hidden {
    display: none;
}

.normal{
    color: #16a34a
}

.attention{
    color: #dc2626;
}
#balanca{
    font-size: 27px;
}
#regua{
    font-size: 27px;

}

@media screen and (max-width: 1024px) {
    #img{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #container{
        width: 100%;
        height: 100%;
    }

    #calculator{
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
    }
}