<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/Home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <div>
            <!-- <img src="" alt=""> -->
        </div>
        <div class="itens">
            <p id="home" class="header-button">Início</p>
            <p class="header-button">Categorias</p>
            <p class="header-button">Descubra seu IMC</p>
            <div class="icon header-button">
                <span class="material-symbols-outlined user">
                    account_circle
                </span>
            </div>
        </div>
    </div>
    <div class="img-fundo">
        <div class="container">
            <p id="title">Sabores saudáveis para uma vida vibrante.</br>
                Descubra agora!
            </p>
            <p id="subtitle">Explore nossa seleção de receitas saudáveis</p>
            <div class="container-search">
                <input type="text" name="search" id="search" placeholder="Procure uma receita">
                <span class="material-symbols-outlined icon-search">
                    search
                </span>
            </div>
        </div>

        <div class="container-prato">
            <img src="/Pictures/prato.png" alt="prato" id="img-prato">
        </div>
    </div>

    <div class="categorias">
        <p class="title-subtitles">Categorias</p>
        <div class="itens-categorias">
            <div id="bolos" class="button-categorias">
                <span class="format-text">Bolos</span>
            </div>
            <div id="tortas" class="button-categorias">
                <span class="format-text">Tortas</span>
            </div>
            <div id="saladas" class="button-categorias">
                <a href="Categoria.html">
                    <span class="format-text">Saladas</span>
                </a>
            </div>
            <div id="carnes" class="button-categorias">
                <span class="format-text">Carnes</span>
            </div>
        </div>
    </div>

    <div class="recomendacoes">
        <p class="title-subtitles">Recomendações</p>
        <div class="itens-recomendacoes">
            <div class="receita">
                <div class="retanguloBaixo">
                    <p class="title-receita">Omelete</p>
                    <div class="descricao">
                        <div class="timer">
                            <span class="material-symbols-outlined icon-timer">
                                timer
                            </span>
                            <span class="text-descricao">10 min</span>
                        </div>
                        <div class="kcal">
                            <span class="material-symbols-outlined icon-kcal">
                                monitor_weight
                            </span>
                            <span class="text-descricao">350 kcal</span>
                        </div>
                    </div>
                </div>
                <img class="retanguloCima" src="/Pictures/omelete.png"/>
            </div>

            <div class="receita">
                <div class="retanguloBaixo">
                    <p class="title-receita">Omelete</p>
                    <div class="descricao">
                        <div class="timer">
                            <span class="material-symbols-outlined icon-timer">
                                timer
                            </span>
                            <span class="text-descricao">10 min</span>
                        </div>
                        <div class="kcal">
                            <span class="material-symbols-outlined icon-kcal">
                                monitor_weight
                            </span>
                            <span class="text-descricao">350 kcal</span>
                        </div>
                    </div>
                </div>
                <img class="retanguloCima" src="/Pictures/omelete.png"/>
            </div>

            <div class="receita">
                <div class="retanguloBaixo">
                    <p class="title-receita">Omelete</p>
                    <div class="descricao">
                        <div class="timer">
                            <span class="material-symbols-outlined icon-timer">
                                timer
                            </span>
                            <span class="text-descricao">10 min</span>
                        </div>
                        <div class="kcal">
                            <span class="material-symbols-outlined icon-kcal">
                                monitor_weight
                            </span>
                            <span class="text-descricao">350 kcal</span>
                        </div>
                    </div>
                </div>
                <img class="retanguloCima" src="/Pictures/omelete.png"/>
            </div>

            <div class="receita">
                <div class="retanguloBaixo">
                    <p class="title-receita">Omelete</p>
                    <div class="descricao">
                        <div class="timer">
                            <span class="material-symbols-outlined icon-timer">
                                timer
                            </span>
                            <span class="text-descricao">10 min</span>
                        </div>
                        <div class="kcal">
                            <span class="material-symbols-outlined icon-kcal">
                                monitor_weight
                            </span>
                            <span class="text-descricao">350 kcal</span>
                        </div>
                    </div>
                </div>
                <img class="retanguloCima" src="/Pictures/omelete.png"/>
            </div>
            
            <div class="receita">
                <div class="retanguloBaixo">
                    <p class="title-receita">Omelete</p>
                    <div class="descricao">
                        <div class="timer">
                            <span class="material-symbols-outlined icon-timer">
                                timer
                            </span>
                            <span class="text-descricao">10 min</span>
                        </div>
                        <div class="kcal">
                            <span class="material-symbols-outlined icon-kcal">
                                monitor_weight
                            </span>
                            <span class="text-descricao">350 kcal</span>
                        </div>
                    </div>
                </div>
                <img class="retanguloCima" src="/Pictures/omelete.png"/>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container-footer">
            <div class="alunos">
                <p id="title-alunos">Alunos</p>
                <p id="nome-alunos">Gustavo Morais Alves<br/><br/>Victor Hugo Kendi Takehana</p>
            </div>
            <div class="container-img">
                <img class="img-utf" src="/Pictures/utfpr.png"/>

            </div>
        </div>
        <p class="footer-ano">2024</p>
    </div>
</body>
</html>