<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/Home.css">
    <link rel="stylesheet" href="../Css/Main.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <header>
        <div class="header">
            <div id="container-logo">
                <img src="../Pictures/logo.png" alt="logo" id="logo">
            </div>
            <div class="itens">
                <a href="../Views/Home.html">
                    <p id="home" class="header-button">Início</p>
                </a>
                <a href="../Views/Imc.html">
                    <p class="header-button" id="header-imc">Descubra seu IMC</p>
                </a>
                <div class="icon header-button" id="menu-btn">
                    <span class="material-symbols-outlined user">
                        account_circle
                    </span>
                    <div id="menu" class="menu esconder">
                        <a href="../index.html" id="logout">
                            <span class="material-symbols-outlined">
                                logout
                            </span>
                            Sair
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="img-fundo">
        <div class="container">
            <h1 id="title">Sabores saudáveis para uma vida vibrante.<br>
                Descubra agora!
            </h1>
            <p id="subtitle">Explore nossa seleção de receitas saudáveis</p>
            <div class="container-search">
                <input type="text" name="search" id="search" placeholder="Procure uma receita">
                <span class="material-symbols-outlined icon-search">
                    search
                </span>
            </div>
        </div>

        <div class="container-prato">
            <img src="../Pictures/prato.png" alt="prato" id="img-prato">
        </div>
    </div>

    <div class="categorias">
        <p class="title-subtitles">Categorias</p>
        <div class="itens-categorias">
            <div id="bolos" class="button-categorias">
                <span class="format-text">Sobremesas</span>
            </div>
            <div id="tortas" class="button-categorias">
                <span class="format-text">Tortas</span>
            </div>
            <div id="saladas" class="button-categorias">
                <span class="format-text">Saladas</span>
            </div>
            <div id="carnes" class="button-categorias">
                <span class="format-text">Pratos principais</span>
            </div>
        </div>
    </div>

    <div class="recomendacoes">
        <p class="title-subtitles">Recomendações</p>
        <div class="itens-recomendacoes">

            <a class="receita" href="Receita.html">
                <div class="retanguloBaixo">
                    <p class="title-receita">Omelete</p>
                    <div class="descricao">
                        <div class="timer">
                            <span class="material-symbols-outlined icon-timer">
                                timer
                            </span>
                            <span class="text-descricao">8 min</span>
                        </div>
                        <div class="kcal">
                            <span class="material-symbols-outlined icon-kcal">
                                monitor_weight
                            </span>
                            <span class="text-descricao">250 kcal</span>
                        </div>
                    </div>
                </div>
                <img class="retanguloCima" src="../Pictures/omelete.png" alt="imagem-omelete">
            </a>

            <a class="receita" href="Receita.html">
                <div class="retanguloBaixo">
                    <p class="title-receita">Salada Caesar</p>
                    <div class="descricao">
                        <div class="timer">
                            <span class="material-symbols-outlined icon-timer">
                                timer
                            </span>
                            <span class="text-descricao">10 min</span>
                        </div>
                        <div class="kcal">
                            <span class="material-symbols-outlined icon-kcal">
                                monitor_weight
                            </span>
                            <span class="text-descricao">200 kcal</span>
                        </div>
                    </div>
                </div>
                <img class="retanguloCima" src="/Pictures/pote-salada.png" alt="imagem-salada">
            </a>

            <a class="receita" href="Receita.html">
                <div class="retanguloBaixo">
                    <p class="title-receita">Brownie fit</p>
                    <div class="descricao">
                        <div class="timer">
                            <span class="material-symbols-outlined icon-timer">
                                timer
                            </span>
                            <span class="text-descricao">35 min</span>
                        </div>
                        <div class="kcal">
                            <span class="material-symbols-outlined icon-kcal">
                                monitor_weight
                            </span>
                            <span class="text-descricao">380 kcal</span>
                        </div>
                    </div>
                </div>
                <img class="retanguloCima" src="../Pictures/brownie-fit.jpg" alt="imagem-brownie">
            </a>

            <a class="receita" href="Receita.html">
                <div class="retanguloBaixo">
                    <p class="title-receita">Torta de frango</p>
                    <div class="descricao">
                        <div class="timer">
                            <span class="material-symbols-outlined icon-timer">
                                timer
                            </span>
                            <span class="text-descricao">20 min</span>
                        </div>
                        <div class="kcal">
                            <span class="material-symbols-outlined icon-kcal">
                                monitor_weight
                            </span>
                            <span class="text-descricao">410 kcal</span>
                        </div>
                    </div>
                </div>
                <img class="retanguloCima" src="/Pictures/torta.jpg" alt="imagem-torta">
            </a>

            <a class="receita" href="Receita.html">
                <div class="retanguloBaixo">
                    <p class="title-receita">Mousse de maracujá</p>
                    <div class="descricao">
                        <div class="timer">
                            <span class="material-symbols-outlined icon-timer">
                                timer
                            </span>
                            <span class="text-descricao">30 min</span>
                        </div>
                        <div class="kcal">
                            <span class="material-symbols-outlined icon-kcal">
                                monitor_weight
                            </span>
                            <span class="text-descricao">420 kcal</span>
                        </div>
                    </div>
                </div>
                <img class="retanguloCima" src="../Pictures/Mousse-de-Maracuja-Fit.jpg" alt="imagem-mousse">
            </a>

        </div>
    </div>

    <footer>
        <div class="footer">
            <div class="container-footer">
                <div class="alunos">
                    <p id="title-alunos">Alunos</p>
                    <p id="nome-alunos">Gustavo Morais Alves<br>Victor Hugo Kendi Takehana</p>
                </div>
                <div class="container-img">
                    <img class="img-utf" src="../Pictures/utfpr.png" alt="logo-utfpr">

                </div>
            </div>
            <p class="footer-ano">2024</p>
        </div>
    </footer>
    <script>
        document.getElementById("menu-btn").addEventListener("click", function () {
            var menu = document.getElementById("menu");
            if (menu.classList.contains("esconder")) {
                menu.classList.remove("esconder");
            } else {
                menu.classList.add("esconder");
            }
        });
    </script>
</body>

</html>