<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Css/Imc.css">
    <link rel="stylesheet" href="/Css/Main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>Descubra seu IMC</title>
</head>

<header>
    <div class="header">
        <div class="itens">
            <a href="/Views/Home.html">
                <p class="header-button">Início</p>
            </a>
            <a href="/Views/Imc.html">
                <p class="header-button" id="header-imc">Descubra seu IMC</p>
            </a>
            <div class="icon header-button">
                <span class="material-symbols-outlined user">
                    account_circle
                </span>
            </div>
        </div>
    </div>
</header>

<body>
    <div id="container">
        <div id="calculator">
            <form id="form">
                <h1 id="title">
                    Calculadora - IMC
                </h1>

                <!-- PESO -->
                <div class="input-box">
                    <label for="weight">Peso em kg</label>
                    <div class="input-field">
                        <span class="material-symbols-outlined" id="balanca">
                            monitor_weight
                        </span>
                        <input type="number" id="weight" required placeholder="Digite seu peso">
                        <span>kg</span>
                    </div>
                </div>

                <!-- ALTURA -->
                <div class="input-box">
                    <label for="height">Altura em metros</label>
                    <div class="input-field">
                        <span class="material-symbols-outlined" id="regua">
                            straighten
                        </span>
                        <input type="number" step="0.01" id="height" required placeholder="Digite sua altura">
                        <span>m</span>
                    </div>
                </div>
                <button id="calculate">Calcular</button>
            </form>
            <div id="infos" class="hidden">
                <div id="result">
                    <div id="imc">
                        <span id="value"></span>
                        <span>Seu IMC</span>
                    </div>
                    <div id="description">
                        <span></span>
                    </div>
                </div>

                <div id="more-info">
                    <span>Clique</span>
                    <a href="https://mundoeducacao.uol.com.br/saude-bem-estar/imc.htm" title="IMC - Uol"
                        target="_blank">
                         aqui
                    </a>
                    <span>para saber mais informações sobre IMC</span>
                </div>
            </div>
        </div>
    </div>
</body>

<footer>
    <div class="footer">
        <div class="container-footer">
            <div class="alunos">
                <p id="title-alunos">Alunos</p>
                <p id="nome-alunos">Gustavo Morais Alves<br />Victor Hugo Kendi Takehana</p>
            </div>
            <div class="container-img">
                <img class="img-utf" src="/Pictures/utfpr.png" />

            </div>
        </div>
        <p class="footer-ano">2024</p>
    </div>
</footer>

<script>
    const form = document.getElementById('form');

    form.addEventListener('submit', function (event) {
        event.preventDefault();

        const weight = document.getElementById('weight').value;
        const height = document.getElementById('height').value;

        const imc = (weight / (height * height)).toFixed(2);

        const value = document.getElementById('value');
        let description = '';

        value.classList.add('attention');

        document.getElementById('infos').classList.remove('hidden');

        if (imc < 18.5) {
            description = 'Cuidado! Você está abaixo do peso'
        } else if (imc >= 18.5 && imc <= 25) {
            description = 'Você está no peso "ideal"!'
            value.classList.remove('attention');
            value.classList.add('normal');
        } else if (imc > 25 && imc <= 30) {
            description = 'Cuidado! Você está com sobrepeso'
        } else if (imc > 30 && imc <= 35) {
            description = 'Cuidado! Você está com obesidade moderada!'
        } else if (imc > 35 && imc <= 40) {
            description = 'Cuidado! Você está com obesidade severa!'
        } else {
            description = 'Cuidado! Você está com obesidade mórbida!'
        }

        value.textContent = imc.replace('.', ',');
        document.getElementById('description').textContent = description
    })
</script>

</html>