<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Css/Login.css" rel="stylesheet" />
    <link href="../Css/Main.css" rel="stylesheet" />
    <title>Entrar</title>
</head>

<body>
    <div class="div-main">
        <form class="form" id="loginForm" onsubmit="return validateForm()">
            <h1>SABOR FIT</h1>

            <div class="component-input">
                <div class="email">
                    <label class="label" for="email">E-mail:</label>
                    <input class="input" type="email" id="email" name="email">
                </div>
                <div class="senha">
                    <label class="label" for="senha">Senha:</label>
                    <input class="input" type="password" id="senha" name="senha">
                </div>
            </div>
            <div class="container">
                <label class="" for="possui_conta">Ainda não possui conta?</label>
                <a href="Registrar.html" id="cadastrar">Cadastre-se</a><br>
                <label id="esqueceuSenha" for="possui_conta">Esqueceu sua senha?</label>
            </div>

            <!-- Use o tipo de botão "submit" -->
            <input class="button-submit" type="submit" value="Login" />

        </form>
        <div>
            <img src="../Pictures/imgLogin.png" alt="fundo" class="imgFundo">
        </div>
    </div>

    <script>
        function validateForm() {
            var email = document.getElementById("email").value;
            var senha = document.getElementById("senha").value;

            if (email === "" || senha === "") {
                alert("Por favor, preencha todos os campos.");
                return false;
            }
            window.location.href = "Home.html";
            return false;
        }
    </script>
</body>

</html>
